
@{
    ViewBag.Title = "ForgotPassword";
}


<head>

    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link rel="icon" href="~/Images/good-methods-global.png" type="image/x-icon" />
    <link href="~/Content/Login.css" rel="stylesheet" type="text/css" />
</head>


<script>
  window.console = window.console || function(t) {};
</script>
<script>

    if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
    }
</script>


<body>
    <div class="wrapper">
        <div class="container">
            <h1><b>Purple Squirrel</b></h1>


            <form action="/Login/SendNewPasswordMail" method="post">
                <input class="input" style="color:black;" type="text" placeholder="Please Enter your Username" name="Username" id="Username">
              <button type="submit" id="Login-button">Submit</button>
            </form>
        </div>

        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>




    <script>
       

            $('form').fadeOut(500);
            $('.wrapper').addClass('form-success');
        });

    </script>

</body>




